<html lang="en">
	<head>
		<%- include('partials/head') %>
		<meta http-equiv="refresh" content="30" />
		<!-- Refresh every 60 seconds -->
	</head>
	<body>
		<header><%- include('partials/header'); %></header>
		<main class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>OV-NF Dashboard</h1>
					<% if(lineFilter) { %>
					<p>Filter op lijn: <%= lineFilter %></p>
					<a href="/">Reset</a>
					<% } %>
					<hr />
					<div class="row">
						<% stops.forEach((stop) => { %>
						<div class="col-lg-6">
							<h2>
								<%- stop.location.place.name %> - <%-
								stop.location.name %>
							</h2>
							<% if(extraInfo[stop.location.id]) { %>
							<p>
								Loop afstand (Google): <%-
								extraInfo[stop.location.id].walkingTime %> min
							</p>
							<% } %>
							<hr />

							<% stop.tabs.forEach((tab) => { %>
							<h4><%- tab.name %></h4>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Lijn</th>
										<th>Bestemming</th>
										<th>Vertrek tijd</th>
										<th>Realtime info</th>
									</tr>
								</thead>
								<tbody>
									<% tab.departures.filter((dep) =>
									!lineFilter || dep.service ===
									lineFilter).forEach(function(departure) { %>
									<tr>
										<td>
											<a
												href="?line=<%- departure.service %>"
												><%- departure.service %></a
											>
										</td>
										<td>
											<%- departure.destinationName %>
										</td>
										<td>
											<%- departure.time %> (<%-
											getTimeDiff(departure.time) %>)
										</td>
										<td
											class="
												<%-
												departure.realtimeState
												===
												'late'
												?
												'text-danger'
												:
												''
												%>
											"
										>
											<%- departure.realtimeState %> <%-
											departure.realtimeText %>
										</td>
									</tr>
									<% }); %>
								</tbody>
							</table>
							<% }); %>
						</div>
						<% }); %>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
